<configuration>

    <appender name="STDOUT" class="com.github.mrramych.shakalbot.Appender" target="System.out">
        <encoder type="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%thread %-5level %logger{35} %msg\n</pattern>
        </encoder>
    </appender>


    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>